In [1]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
%matplotlib inline

In [2]:
seed_urls = ['https://inshorts.com/en/read/sports',
             'https://inshorts.com/en/read/technology',
             'https://inshorts.com/en/read/world']
def build_dataset(seed_urls):
    news_data = []
    for url in seed_urls:
        news_category = url.split('/')[-1]
        data = requests.get(url)
        soup = BeautifulSoup(data.content,'html.parser')
        
        news_articles = [{'news_headline': headline.find('span', 
                                                         attrs = {"itemprop": "headline"}).string,
                          'news_article': article.find('div', 
                                                       attrs ={"itemprop": "articleBody"}).string,
                          'news_category': news_category}
                            for headline,article in 
                             zip(soup.find_all('div', 
                                               {'class':"news-card-title news-right-box"}),
                                  soup.find_all('div', 
                                                {'class':"news-card-content news-right-box"}))
                        ]
        news_data.extend(news_articles)
    df = pd.DataFrame(news_data)
    df = df[['news_headline','news_article','news_category']]
    return df

In [3]:
news_df = build_dataset(seed_urls)
news_df

,news_headline,news_article,news_category
0,Kohli replies 'Thanks Bhavesh' to Raina's birt...,Team India captain Virat Kohli was trolled on ...,sports
1,Ajinkya Rahane shares first picture of his new...,Team India Test vice-captain Ajinkya Rahane to...,sports
2,India-Pakistan Davis Cup tie shifted to neutra...,The Davis Cup tie between India and Pakistan h...,sports
3,"Third umpire should be able to spot no-balls, ...",Former Australia wicketkeeper-batsman Adam Gil...,sports
4,"Every time Kohli takes a break, his void gets ...",Former India all-rounder Mohinder Amarnath has...,sports
...,...,...,...
69,"25,000 S Koreans fake death by lying in coffin...","Over 25,000 South Koreans have reportedly simu...",world
70,US Congresswoman Ilhan Omar divorces husband,US Congresswoman from Minnesota Ilhan Omar div...,world
71,ISIS attempted suicide attack in India last ye...,The Khorasan group of the Islamic State (ISIS-...,world
72,Hong Kong politician stabbed in chest during a...,Hong Kong politician Junius Ho was stabbed by ...,world
73,Malaysia sentences 5 men to jail for attemptin...,A Malaysian religious court on Thursday fined ...,world

In [4]:
news_df.news_category.value_counts()

sports        25
world         25
technology    24
Name: news_category, dtype: int64